$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);
$color-ghost-white:               #f3f3fb;
$color-white-smoke:               #f7f7f7;
$color-slate-blue:                #7f51d9;
$color-grey:                      #7d7d7d;
$color-shamrock:                  #29d396;
$color-silver:                    #c4c4c4;
$color-whisper:                   #e9e9e9;

$shadow:                            0 0 20px rgba(0, 0, 0, 0.06);

$vp--320:                           320px;
$vp--768:                           768px;
$vp--1440:                          1440px;

$trans:                             0.3s ease;
